
  * {
  box-sizing: border-box;
}

        

/* Style the header */
.header {
  background-color:teal;
  padding: 20px;
  text-align: center;
  }

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: grey;

}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: yellow;
  text-align:left;
  padding: 14px 16px;
  text-decoration: none;
  font-family:

}

/* Change color on hover */
.topnav a:hover {
  background-color:grey;
  color: black;
}

div.scroll-container {
  background-color: yellow;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}


/* Create three columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  font-family: sans-serif;
  }

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Style the footer */
footer {
  background-color: teal;
  padding: 10px;
  text-align: center;
  color: yellow;

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
